* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body {
    background-color: #dee0e6;
}

#principal h1{
    color: #134e6f;
    text-align: center;
    margin: 2rem;
    font-weight: 600;
}

#placar {
    display: flex;
    align-items: center;
    margin: .3rem .3rem 1.5rem .3rem;
}

#jogador, #computador {
    position: relative;
    flex-grow: 1;
    color: #ecf0f1;
    border-radius: 5px;
    padding: 1rem;
}

#jogador {
    background-color: #ff6150;
}

#computador {
    background-color: #1ac0c6;
}

#jogador-nome, #computador-nome {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#computador-nome {
    text-align: right;
}

#jogador-pontos, #computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 2rem;
}

#jogador-pontos {
    right: 20px;
}

#jogador-escolha, #computador-escolha {
    list-style: none;
    text-align: center;
    margin: 2rem 0 0 0;
    padding: 0;
}

#jogador-escolha li, #computador-escolha li {
    display: inline;
    padding: 0 10px;
}

#jogador-escolha a, #computador-escolha a {
    opacity: .3;
}

#jogador-escolha a:hover, 
#jogador-escolha a.selecionado, 
#computador-escolha a.selecionado {
    opacity: 1;
    cursor: pointer;
}

#jogador-escolha img, #computador-escolha img {
    max-width: 60px;
}

#versus {
    font-size: 2rem;
    padding: 0 20px;
}

#mensagem {
    background-color: #ffa822;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 .3rem;
    padding: 1rem 0;
}
